    *{
      margin: 0;
        padding: 0;
        box-sizing: border-box; 
    }

    .clearfix:after {
     content: "";
        display: table;
        clear: both;



    }

    body{

        font-family: arial; 
        font-size: 9px;  
    }

    h1, h2{

        color: #066f12;
    }

    h1{    
        font-size: 40px; 
        margin-bottom: 20px
    }

     h2{
        font-size: 25px;
         margin-bottom: 10px
    }   

        .main-text{
            text-align: justify;
            margin-bottom: 20px;

        }
    .author-text{
        float:left;
        margin-top: 40px;
        font-size: 26px

    }
    .container {
        width: 1140px;
        /*margin-left: auto;
        margin-right: auto;
        margin-top: 20px; these line margins are defined below as top,right,bottom,left*/
        margin: 20px auto 0 auto;

    }



    .authorpost {

        width: 25%;
        float: left;
    }

    .blogpost {


        width: 75%;
        float: left;
        padding-right: 30px;
        position: relative;

    }

    .author {
        padding-top: 20px;
        border-top: 2px solid #966767
        }

.other {
    margin-bottom: 40px;
}

.author img{
    height: 100px;
    width: 100px;

    border-radius: 50%
}
.date{
    top: 10px;
    right: 30px;
    position: absolute
}